@use "export" as *;

.card {
  width: 300px;
  height: 180px;

  border-radius: 20px;
  background-image: url(../../img/card.svg);
  background-position: left 50% top 30%;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.25);

  position: absolute;
  top: -77px;
  left: 75px;

  padding: 14px 20px 11px;

  display: flex;
  flex-flow: column nowrap;
}

.head-card {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;

  margin-bottom: 31px;
}

.input-card {
  border: 1px solid #F4F5F8;
  border-radius: 5px;
  background-color: rgba(39, 98, 216, 0.1);
  backdrop-filter: blur(4px);

  padding: 4px 20px;
  margin-bottom: 56px;

  @extend %smallerBold-text;

  color: white;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;

  position: relative;
}

.foot-card {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.holder-card {
  display: flex;
  flex-flow: column nowrap;
}

.expires-card {
  display: flex;
  flex-flow: column nowrap;
}
.containerDate {
  display: flex;
  flex-flow: row nowrap;
}

.holder-card > span:first-child,
.expires-card > span:first-child {
  font-size: 9px;
  color: $labelCard-color;
}
.containerDate > span,
.holder-card > span:last-child {
  color: white;
}