body {
    background-color: #ECECEF;
    font-family: "Roboto Light", sans-serif;
    font-size: 20px;
    color: #373B4D;
}

.container-widget {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 50px;

    background-color: white;
    box-shadow: 0 10px 20px rgba(55,59,77,0.19), 0 6px 6px rgba(55,59,77,0.23);
    width: fit-content;

    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
}

.header-block {
    text-align: center;
}
.date,
.time {
    color: rgba(55, 59, 77, 0.6);
}
.time {
    display: block;
}
.city {
    font-size: 55px;
    font-weight: bold;

    margin: 50px 0 0 0;
}

.weather-img {
    margin-top: -50px;
    margin-bottom: -60px !important;
}

.info-block {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    gap: 15px;

    width: 100%;

    font-weight: bold;
}
.info-left {
    display: flex;
    flex-flow: column nowrap;
}
.info-right {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}
.main-weather:first-letter {
    text-transform: uppercase;
}
.btn-refresh {
    background-color: transparent;
    background-image: url("./img/refresh.svg");
    background-repeat: no-repeat;
    background-position: center;

    border: none;
    border-radius: 9999px;

    width: 23px;
    height: 23px;

    align-self: flex-end;

    cursor: pointer;
}
.btn-refresh.clicked {
    transform: rotateZ(-360deg);
    transition-duration: 1s;
}
.humidity::before {
    content: "";
    background-image: url("./img/humidity.svg");
    background-repeat: no-repeat;
    background-position: center;

    padding-right: 30px;
}
.pressure::before {
    content: "";
    background-image: url("./img/pressure.svg");
    background-repeat: no-repeat;
    background-position: center;

    padding-right: 30px;
}
.wind::before {
    content: "";
    background-image: url("./img/wind.svg");
    background-repeat: no-repeat;
    background-position: center;

    padding-right: 30px;
}

.temperature-block {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: baseline;
    width: 100%;

    font-size: 33px;
    font-weight: normal;

    margin-top: -25px;

    color: rgba(55, 59, 77, 0.8);
}
.row-temp {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;

    width: 100%;
}
.col-temp {
    display: flex;
    justify-content: center;
    gap: 10px;

    width: 100%;
}
.min-temp {
    margin-right: 30px;
}
.txt-fells_like,
.feels_like-temp,
.min, .max {
    font-size: 20px;
    font-weight: normal;
    color: rgba(55, 59, 77, 0.6);
}
.main-temp {
    font-size: 55px;
    font-weight: bold;
    color: #373B4D;
    margin-left: 20px;
    margin-right: 20px;
}